---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>
  My name and names of students/postdocs under my supervision are underlined in my publications below. <br>
  <strong>Team</strong>: <br>
  Cong-Thanh Le, PhD student. Topic: Automated Program Repair (2023-2026). Job: Assistant Professor, Singapore University of Technology and Design (SUTD) <br>
  Vinay Kabdy, PhD student (part-time). Topic: Automated Program Repair (2020-2026). <br>
  Anh Ho,  PhD student. Topic: Automated Program Repair (2024-now). <br>
  Licheng Zhang,  PhD student. Topic: Computer Vision for Software Engineering and Design (2025-now). <br>
  Hieu Nguyen,  PhD student. Topic: Agentic AI (2024-now). <br>
  Dung Nguyen,  PhD student. Topic: Secure Code Generation (2025-now). <br>
  Hoang-Anh Nguyen, AI Resident at FPT Software. <br>
  Minh-Anh Nguyen, AI Resident at FPT Software. <br>
  Previous: <br>
  Dat Nguyen, PhD student. Topic: Neuro-symbolic reasoning and analysis of neural networks. Job: Postdoc, Harvard University, USA. <br>
  Haoye Tian, Postdoc. Topic: Automated Program Repair. Job: Assistant Professor, Aalto University, Finland. <br>
  
  
  </div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



